/* Product list styling */
.card img{
  transition: all 0.3s ease-in-out;
}
.card img:hover{
  transform: scale(1.1);
}

/* Edit form styling */
.editForm{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 400px;
}
.editForm input{
  width: 250px;
  margin-bottom: 20px;
}