form{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px #000;
  padding:40px 10px;
  border-radius: 10px;
}
.card img{
  transition: all 0.3s ease-in-out;
}
.card img:hover{
  box-shadow: 2px 2px 10px black;
}