.App {
  font-family: sans-serif;
  text-align: center;
}


.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 300px;
  border: 2px solid red;
  padding: 20px;
}
.login-form label{
  display: block;
  text-align: left;
  padding-left: 15px;
}
.login-form input{
  display: inline-block;
  width: 80%;
  padding: 10px;
  border: 2px solid skyblue;
  outline: none;
  margin-bottom: 30px;
}

th{
  background-color: rgba(1, 128, 127);
  color: white;
}

.product-details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  box-shadow: 2px 2px 8px 0px black;
  width: 550px;
}
.pr-image{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
}
.pr-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}